<form method="post" action="{{ path('app_abonnement_delete', {'id': abonnement.id}) }}" onsubmit="return confirm('Vous etes sur que vous avez supprimer cette abonnement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonnement.id) }}">
    <button class="btn">Delete</button>
</form>
