<form method="post" action="{{ path('app_rdv_delete', {'id': rdv.id}) }}" onsubmit="return confirm('Vous etes sur que vous aver supprimer ce rendez-vous?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rdv.id) }}">
    <button class="btn">Delete</button>
</form>
